

.card {
    border: 1px solid black;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    
}


.card img {
    width: 40%;
}

#loutre {
    font-size: xx-large;
}

.cart-kaamelott{
    border: 1px solid black;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

.cart-kaamelott img {
        with:50%;
}