

.card {
    border: 1px solid black;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    
}


.card img {
    width: 40%;
}

#loutre {
    font-size: xx-large;
}

.cart-kaamelott{
    margin-top: 2em;
    border-radius: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.cart-kaamelott p {
    color:white;
}